<h1><%= @place["name"] %></h1>

<h2>Notes</h2>

<ul>
  <% for post in @post %>
    <li><%= post["title"] %>, <%= post["posted_on"] %></li>
  <% end %>
</ul>

<p>
  <a href="/posts/new">New Post</a>
</p>

<p><a href="/places">Back to all journies</a></p>